<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <bs-datepicker-inline [bsValue]="value" (bsValueChange)="onDateChange($event)"></bs-datepicker-inline>
  </div>
</div>
<p-table [value]="lists.shifts" *ngIf="value">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of lists.chairs">
                {{col.chairName}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shift>
        <tr>
            <td *ngFor="let col of lists.chairs" [ngClass]="{'hello': isActionDisabled(col, shift)}">
                {{shift.shiftName}}
                <button (click)="onClick(col, shift)" [disabled]="isActionDisabled(col, shift)">action</button>
            </td>
        </tr>
    </ng-template>
</p-table>


