<app-date-panel (dateSelected)="onDateSelected($event)"></app-date-panel>
<slide-panel [isOpen]="togglePanel" [title]="'Schedule Appointment'"
             (closeSlidePanel)="onPanelClose()" id="demo-slide-panel">
    <div panel-body>
        <div class="info">
            <span><ion-icon size="small" name="checkmark-circle"></ion-icon> To book a slot</span>
            <span> <ion-icon size="small" class="close-circle" name="close-circle"></ion-icon>To Cancel a slot</span>
            <span><ion-icon  size="small" name="contacts"></ion-icon>To add to waitlist</span>
        </div>
        <div class="info">
            <span class="time"> Morning : 8am to 12pm</span>
            <span class="time"> Afternoon : 2pm to 4pm</span>
            <span class="time"> Evening : 5pm to 8pm</span>
        </div>
        <div>
            <table>
                <thead>
                <tr class="header">
                    <th></th>
                    <th *ngFor="let chair of clinic.chairs">{{chair.chairName}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let shift of clinic.shifts">
                    <span class="label">{{shift.shiftName}}</span>
                    <td  class="header" *ngFor="let chair of clinic.chairs">
                            <span *ngFor="let schedule of schedules">
                                 <span *ngIf="schedule.shiftId === shift.shiftId && schedule.chairId === chair.chairId;else book;">
                                     <span *ngIf="schedule.patientId && schedule.patientId == currentUser.id">
                                         {{schedule.patientId}}
                                         <ion-icon name="person"></ion-icon>
                                         <ion-icon name="close-circle"(click)="cancelSchedule(schedule.scheduleId)"></ion-icon>
                                     </span>

                                     <!--<span *ngIf="schedule.patientId && schedule.patientId != currentUser.id && isAlreadyWaitListed(shift.shiftId, chair.chairId)">
                                         <ion-icon name="people"></ion-icon>
                                     </span>-->
                                     <!--<span *ngIf="schedule.patientId && schedule.patientId != currentUser.id && !isAlreadyWaitListed(shift.shiftId, chair.chairId)">
                                         <ion-icon  name="person-add" (click)="addToWaitList(schedule)"></ion-icon>
                                     </span>-->
                                     <span *ngIf="!schedule.patientId">
                                        <ion-icon  name="checkmark-circle"(click)="bookSchedule(schedule)"></ion-icon>
                                     </span>
                                 </span>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</slide-panel>